body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#message {
    font-weight: bold;
}